@media screen and (max-width: 360px){
    .foto{
        position: relative;
        right: 17px;
        top: 5px;
    }
    .description{
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
    }

    .description p {
        padding-right: 10px;
        font: 12px 'Arial', sans-serif;
    }

    .serv {
        justify-self: right;
        width: 15%;
        margin-right: 10px;
    }

    .services {
        display: grid;
        border-left: solid 1px #7eb4ca;
        width: 100%;
        margin-left: 10px;
    }

    hr {
        width: 100%;
        margin-left: 0px;
    }

    .total {
        margin-left: 10px;
        width: 100%;
    }

    
    
    .last_review {
        margin-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .last{
        font-size: 14px;
    }

    a{
        padding-left: 10px;
    }

    .your_comments {
        margin-left: 10px;
    }

    .text-left{
        margin-left: 10px;
    }
        
    .alert{
        margin-left: 10px;
    }

}
